.idea/
- the book binder and the other two buildings that unlock at the same time dont give the bonus they should and i have never fixed it
- the first building in the forestry quarter shoudld give some small base production or something as right now it isnt very useful off the start
- is there any resources in the game that one off these districts should give a bonus too
- Mod dramatically increases the pace at which reasearch and buildings are built
   - Do we want to increase the cost of research/production to help slwo the game so a person isnt in the modern era but the 1300s
- Would be great if we could find someone to figure out how to get the buildngs to appear in the districts
